@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sniglet", cursive;
  list-style-type: none;
  text-decoration: none;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: white;
}
.loader img {
  width: auto;
  border-radius: 50%;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(https://cdn.wallpapersafari.com/73/92/bhtLMx.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
}
.container .quiz_container {
  width: 35%;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}
.container .quiz_container .quiz_header {
  padding: 35px;
}
.container .quiz_container .quiz_header .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .quiz_container .quiz_header .info h2 {
  text-align: center;
  margin-bottom: 20px;
}
.container .quiz_container .quiz_header .info #question-number {
  font-size: 15px;
}
.container .quiz_container .quiz_header ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.container .quiz_container .quiz_header li {
  width: 100%;
}
.container .quiz_container .quiz_header li label {
  font-size: 20px;
  cursor: pointer;
}
.container .quiz_container .quiz_header li input[type=radio] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  margin-right: 3px;
  border: 2px solid #333;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: white; /* Tüm radio düymələrinin arxa fonu ağ olur */
}
.container .quiz_container .quiz_header li input[type=radio]:checked {
  background-color: green; /* Yalnızca seçilmiş radio düyməsinin arxa fonu yaşıl olur */
}
.container .quiz_container .quiz_bottom .submit {
  width: 100%;
  border: none;
  background-color: rgb(22, 148, 22);
  font-size: 20px;
  padding: 15px;
  font-weight: 700;
  border-radius: 0 0 10px 10px;
}
.container .quiz_container .submit {
  width: 100%;
  border: none;
  background-color: rgb(22, 148, 22);
  font-size: 20px;
  padding: 15px;
  font-weight: 700;
  border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 400px) {
  .loader img {
    width: 100%;
  }
  .container {
    height: 100vh;
    row-gap: 50px;
  }
  .container h1 {
    font-size: 20px;
  }
  .container .quiz_container {
    width: 90%;
  }
  .container .quiz_container .quiz_header {
    padding: 5px;
  }
  .container .quiz_container .quiz_header ul li label {
    font-size: 15px;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .loader img {
    width: 100%;
  }
  .container {
    height: 100vh;
    row-gap: 40px;
  }
  .container h1 {
    font-size: 25px;
  }
  .container .quiz_container {
    width: 90%;
    padding: 5px;
  }
  .container .quiz_container .quiz_header {
    padding: 20px;
  }
  .container .quiz_container .quiz_header ul li label {
    font-size: 20px;
  }
}/*# sourceMappingURL=index.css.map */